<!--
/*********************************************************************************
 * WEB422 – Assignment 6 
 * I declare that this assignment is my own work in accordance with Seneca Academic Policy. 
 * No part of this assignment has been copied manually or electronically from any other source 
 * (including web sites) or distributed to other students. 
 * 
 * Name: Liubov Trokoz       Student ID: 139578199      Date: 2021-04-09 
 * 
 * 
*********************************************************************************/
-->

<div>
    <h1>Resource Not Found</h1>
    <p>I'm sorry, but we can't seem to find what you're looking for...</p>
    <img src="/assets/img/404-error.png" 
    className="image" alt="Not Found" 
    style="width: 35%; margin: 30px 0; display: block; margin-left: auto; margin-right: auto;"/>
</div>