<!--
/*********************************************************************************
 * WEB422 – Assignment 6 
 * I declare that this assignment is my own work in accordance with Seneca Academic Policy. 
 * No part of this assignment has been copied manually or electronically from any other source 
 * (including web sites) or distributed to other students. 
 * 
 * Name: Liubov Trokoz       Student ID: 139578199      Date: 2021-04-09 
 * 
 * 
*********************************************************************************/
-->
<h1>About</h1>
<h3>All about me - the developer</h3><hr/><br>
<section>
    <div>
        <p>My name is Liubov Trokoz.</p>
        <p>My project on Heroku - <a href="https://boiling-beyond-21022.herokuapp.com/" target="_blank"><b>AirBnB</b> mock site</a></p>
        <br/><hr/><br/>
        <p>Welcome to my <b><a href="https://www.youtube.com/c/%C3%89toileTubeCANADA" target="_blank" style="color: red;">YouTube</a></b> channel</p><br/>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6fE1ndA_awI"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
        <br/><br/><hr/>
        <a href="https://www.youtube.com/c/%C3%89toileTubeCANADA" target="_blank">
            <img src="/assets/img/youtube.png" alt="YouTube" style="width: 5%; margin: 10px 15px" /></a>
        <a href="https://www.facebook.com/liubov.trokoz" target="_blank">
            <img src="/assets/img/facebook_monochromatic.png" alt="Facebook" style="width: 7%; margin: 10px 15px"/></a>
        <a href="https://twitter.com/home" target="_blank">
            <img src="/assets/img/twitter_monochromatic.png" alt="Twitter" style="width: 6.5%; margin: 10px 15px"/></a>
        <a style="width: 7%; margin: 10px 250px">&copy; 2021 Liubov Trokoz</a>
    </div>
</section>